body{
    background-color: azure;
    font-family: Arial;
    line-height: 30px;
}
h1{
    align-items: center;
}

p1{
    font-size: 15px;
}
.tab{
    display: inline-block;
    margin-left: 40px;
}
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navBody{
    float: left;
}
.navLink{
    display: block;
    background-color: #333;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}
.navLink:hover{
    background-color: #111;
}



* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    align-items: center;
    background-color: azure;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:cornflowerblue;
    align-items: center;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:deepskyblue;
  }
  .simCanvas{
    margin-top: 30px;
    margin-right: 15px;
    border:1px solid black;
  }
  .customizeValues{
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: left;
  }
  .customize{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }
  .attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .imglabel{
    font-size: larger;
    align-self: center;
  }
  /* Credit to W3 Schools*/
  .slidecontainer{
      width:50%;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  /* Style the container/contact section */
  .container {
    align-items: center;
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: center;
    width: 75%;
    margin-top: 6px;
  }
  
  #fname {
    align-items: center;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }